/*Import fonts from fonts.css file*/
/*font-family: 'Playfair Display', serif;*/

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    
}
/***********Navbar Styles*************/
#header_area{
    width: 100%;
   margin: 0;
   
}
#header_area .container h4{
    font-weight: 400;
    font: bold;
    
}
#header_area .hide-desktop{
    display: none;
}
#header_area .row{
    padding-top:35px;
}
#header_area h4{
    font-size: 34px;

}

#header_area .col-sm-6 ul li a{
    font-size: 14px;
    color: black;
    font-weight: 400;
    transition: 0.5s;
}
#header_area .col-sm-6 ul li a:hover{
    background:#00b0ff ;
    color: #fff;

}
#header_area .social_area{
  
    width: 100%;
    clear: both;
}
#header_area .social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#header_area .social_area ul li{
    display: inline-block;
    padding-right: 10px;
  
    
}
#header_area .social_area ul li a{
    font-size: 15px;
    font-weight: 400;
    background: #fff;
    width: 40px;
    height: 40px;
    color: black;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;/*It makes circle*/
    transition: 0.5s;
}
#header_area .social_area ul li a:hover{  
    background: black;
    color: #fff;

}
/*Shouts*/

#shouts{
    margin-top: -108px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 700px;
    background: url("../images/top.png") no-repeat  center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
}
#shouts .row{
   
   padding-top: 185px;
}


#shouts .text-center .blockquote{
    
    font-size: 50px;
    color:#000000 ;
}
#shouts .text-center .quote-footer{
    font-size: 24px;
    color:#e4edf0;
    font-weight: 400;
    margin: -20px;
}





/************Navbar styles ends*****************/

/***********Slider Style********/
#slider{
    margin-bottom: 300px;
 
    
}
#slider .container{
    width: 1030px;
    height: 600px;
    
}
#slider .container .card-u{
    border: 0;
    margin-top: -210px;
    width: 1030px;
    height: 600px;
    background: url("../images/card-background.jpg") center no-repeat   ; 
}
#slider .container .thumbs{
    margin-top:-385px ;
    text-align: right;
    margin-right: -35px;
   

}
#slider .container .thumbs ul li{
    list-style: none;
}
#slider .container .thumbs .small-images img{
    height: 70px; 
    width: 70px;
    border: none;
}
#slider .container .slider-right{
   margin-top: 20px;
   margin-left: 50px;
  padding-right: 50px;

  }
  #slider .container .surf-right h4{
    font-size: 20px;
    font-weight: bold;
 
   }
   #slider .container .surf-right .ratings .star{
    font-size: 12px;
   }
   #slider .container  .desc_title{
    margin-top: 40px;
    color: #b5b2b2;
    font-size: 14px;
    font-weight: 600px;
  
   }
   #slider .container  .description{
    margin-top: 30px;
    font-size: 16px;
  
   }
   #slider .container  .price_and_button{
    margin-top: 30px;
    
   }
   #slider .container  .price_and_button .row {
    margin-top: 30px;
  
   }
   #slider .container  .price_and_button .amount {
    font-size: 24px;
    font-weight: bold;
   }
   #slider .container  .price_and_button .buy_now a{
    background-color:#00b0ff;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    height: 46px;
    width: 138px;
    text-align: center;
    color: #fff;
    font-size: 15px;
   }
   #slider .view_all{
       padding-top: 50px;
   }
   #slider .view_all a{
    font-weight: 600;
    color: #00b0ff;
}
#pageNslider{
    margin-top: -580px;
    margin-right: -2000px;
}

   #pageNslider  .pagination{
       margin-left: -40px;
       padding-top: 8px;
       padding-left: 8px;
    height: 40px;
    width: 59px;
    color: #fff;
    background-color:black;
    text-align: center;
    /* background-color:black;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 59px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 600; */
   }
   #pageNslider  .navigation{
       margin-left: -20px;
       padding-top: 8px;
    background-color:#f2d800;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 76px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
#pageNslider  .navigation .left{
    padding-top: 3px;
padding-left: 6px;
width: 40px;
text-align: left;
}
#pageNslider  .navigation .right{
    margin-right: -25px;
    margin-top: -22px;
width: 40px;
text-align: right;
}

 
#slider .container .surf-right .ratings .checked{
    color:#f2d800;
    background: white;
  }
  #slider .container .border{
      margin-left: 13px;
width: 500px;
  }

/*About us style*/
#about-us{
    
    height: 450px;
    width: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#about-us .container{
    margin-top: -108px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 100%;
    background: url("../images/about-us.png") no-repeat  center ; 
       
}

/*About Surfboard and video player*/
#surf-background{
    margin-top: -328px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 640px;
    background: url("../images/surfing.png") no-repeat  center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 

}
#surf_quote {
    margin-top: -350px ;
    height: 567px;
}
#surf_quote .quote{
    background: #fff;
    height: 567px;
    

}
#surf_quote .quote .col-sm-4{
    
    margin: 100px;
  
}
#surf_quote .quote .col-sm-4 h4{
    color: black;
    font-size:18px ;
    font-weight: 600px;
    text-align: center;
}
#surf_quote .quote .col-sm-4 h4 a{
    color: black;
    
}

#surf_quote .quote .col-sm-4 p{
    font-family: 'Playfair Display', serif; 
    font-size:22px ;
}
#surf_quote .quote .col-sm-4 a{
    font-weight: 600px;
    color: #55caff;
}
#surf_quote .shadow-lg{
    
    height: 302px;
    width: 500px;;
    margin-top: 267px;
    margin-left:50px;
}
#surf_quote .embed-responsive-item{
    
    height: 302px;
    width: 500px;;
    margin-top: -16px;
    margin-left:-16px;
}
/*Our Team background Style*/
#our-team-background{
    
    height: 450px;
    width: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#our-team-background .container{
    margin-top: 50px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 100%;
    background: url("../images/our-team.jpg") no-repeat  center ; 
       
}



/* Our Team Slider*/
#our-team-slider .col-sm-10{
    margin-top: -250px;
    margin-left: 50px;
}
#our-team-slider .slide{
    margin-left: 100px;
    overflow: hidden;
   
}
#our-team-slider .frontside{
    margin-left:80px ;
    width:260px ;
    height:280px ; 

}
#our-team-slider .frontside .card{
    
  height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  #our-team-slider .frontside .card:hover{
    background: #55caff;    width:260px ;
    height:280px ;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
    margin-top:-10px ;
  
  }
 
 

  #our-team-slider .frontside .card p img{
    height: 105px;
    width: 105px;
    margin-left: 60px;
    
  
  }
  #our-team-slider .frontside .card .logo img{
    margin-left: 40%;
  }
  #our-team-slider .paginator{
      margin-top: -150px;

  }
  #our-team-slider .paginator .prev{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -20px;
    padding-top: 15px;
 background-color:#fff;
 display: inline-block;
 height: 50px;
 width: 50px;
 border-radius: 50%;
 text-align: center;
 color: #2946ff;
 font-size: 15px;
}
#our-team-slider .paginator .next{
    display: inline-block;
    height: 50px;
 width: 50px;
 background: #fff;
 border-radius: 50%;
padding: 15px;
padding-right: 2px;
margin-left: 1125px;
margin-top: -200px;
color: #2946ff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

  
    #our-team-slider .paginator-center .prev{
      display: block;
      height: 20px;
      width: 20px;
      background: url('../img/back.png') no-repeat;
    }

    #our-team-slider .paginator-center .next{
      display: block;
      height: 20px;
      width: 20px;
      background: url('../img/next.png') no-repeat;
    }

    
/*Latest updates styles*/
#latest_update{
    margin-top: 180px;
}
#latest_update .container .col-sm-12{
 
    text-align: center;
}
#latest_update .container .col-sm-12 h4{
    font-size: 18px;
    text-align: center;
}
#latest_update .container .col-sm-12 a{
    font-size: 18px;
    text-align: center;
    color: black;
}
#latest_update .container .cards{
    margin-left:180px ;
    margin-top: 40px;
}
#latest_update .col-sm-3 .updates .card{
    width: 272px;
    height: 345px;
    border: none;
    border-radius: 0;
    text-align: center;
}
#latest_update .col-sm-3 .updates .card:hover{
    width: 270px;
    height: 345px;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#latest_update .view_all{
width: 100%;
margin-top: 40px;
text-align: center;
color: white;
}
#latest_update .view_all a{
    background-color:#00b0ff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    width: 198px;
    height: 46px;
    text-align: de;
}
#latest_update .view_all a:hover{
    background: #262626;
}
#latest_update .view_all span{
    color: white;  
 }
 #latest_update .view_all span:hover{
    color: 00b0ff;  
 }
/* Instagram background styles*/
#instagram-background{
    margin-top: 180px;
    height: 526px;
    width: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#instagram-background .container{
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 100%;
    background: url("../images/instagram-bg.jpg") no-repeat  center ; 
       
}
/* Instagram Styles*/

#instagram {
    margin-top: -465px;
    margin-left: 122px;
}
#instagram .card { 
    width: 622px; 
    height: 690px;
} 
  
#instagram .image-grid-container { 
    display: grid; 

    /* For 2 columns */ 
    grid-template-columns: auto auto; 
} 
#instagram img { 
    width: 311px;
     height: 310px;
} 




/*Style Facebook*/
#facebook .facebook-bg{
    margin-top: -650px;
    margin-left: 1050px;
    width: 440px; 
    height: 350px;
   
}
#facebook .facebook-bg .card{
    width: 440px; 
    height: 350px;
    font-family: 'Playfair Display', serif; 
  
    background: url("../images/facebook-bg.jpg") no-repeat  center ; 
}
#facebook .facebook-bg .card img{
    margin-top: 95px;
    margin-left: 50px;
   align-content: center;
   width: 340px; 
   height: 215px; 
}


/*Footer Area*/

#footer_area{
    margin-top: -225px;
    background: black;
    padding: 40px 0;
    color: #fff;
    height: 425px;
     }
    #footer_area .designed_by{
    margin-top: 220px;
    margin-left: 60px;
    }

    #footer_area .footer_list{
    margin-top: 46px;
    margin-left: 380px;
    }
    #footer_area .footer_list ul{
    list-style: none;
    }
    #footer_area .footer_list a{
        color: #fff;
        text-decoration: none;
        }
    #footer_area .footer_list  li:before{
    content: url('../images/icons/list-style.png'); 
        }

     #footer_area .footer_list  .newsletter{
        margin-top: 100px;
        margin-left: 50px;
        }

































/*Styling of  max-width 1400px */

@media (max-width:1400px)
{
    #header_area .hide-desktop{
    display: block;
    text-align: right;
    margin-top: -50px;
    margin-left: -10px;

}
    #header_area .col-sm-6{
      display: none;
    }
    #header_area .social_area{
        margin-top: -10px;
        margin-left: 1000px;
    }
    #shouts{
        margin-top: -171px;
       
    }
   

    #our-team-slider .paginator .next{
        margin-left: 1000px;
    }

    #facebook{
        margin-left: -175px;
    }
    #footer_area .footer_list{
        margin-left:425px;
    }
    #footer_area .footer_list ul{
            width: 500px;
    }
    #footer_area .designed_by{
        width: 500px;
    }

}






















/* Styling for max-width of 992px*/
@media (max-width:992px)
{
   #header_area .hide-desktop{
       margin-left: 120px;
   }

    #header_area{
        margin-left: -65px;
    }
    #header_area h4{
        width: 200px;
    }
   
    #header_area .col-sm-6{
      display: none;
    }
    
    #header_area .social_area{
       margin-top:-50px;
    }
    #shouts{
        margin-top: -148px;
       
    }
    /*Slider*/

    #slider{
        margin-left: -300px;
    }
    #slider .container{
        width: 900px;
        
    }
    #slider .container .card-u{
        margin-left: 50px;
        width: 900px;
    }
    #slider .container .thumbs{
        margin-right: -50px;
    
    }
    #slider .container .surf-right{
        width: 330px;
    }
    #slider .container .desc_title{
        width: 330px;
        margin-top: 10px;
    }
    #slider .container .description{
        width: 330px;

        margin-top: 10px;
    }
    #slider .container .buy_now{
      margin-left: 80px;
    }
    #pageNslider{
        margin-left: -425px;
    }
    #pageNslider .navigation .left{
       margin-left: -3px;
    }
    #pageNslider .navigation .right{
        margin-left: -10px;
     }
    #pageNslider .navigation{
        width: 60px;
    }
    #pageNslider .pagination{
        width: 42px;
        margin-left: -30px;
        font-size: 12px;
        height: 35px;
    }
    /* About our Team Backgrund*/
    #about-us .container{
        background-size: 992px 370px;
                }
            /* Surf Quote*/
            #surf_quote .quote h4{
                margin-left: -125px;
                width: 300px;
                font-weight: bold;
            
            }
            #surf_quote .quote p{
                margin-top:30px ;
                margin-left: -125px;
                width: 300px;
                
            }
            #surf_quote .quote .footer_readmore{
                margin-left: -125px;
                width: 300px;  
            }
            /* #surf_quote .video {
                width: 10px;
                margin-left: -36px;
                background: #00b0ff; 
            } */
            #surf_quote .video .shadow-lg{
                margin-left: 16px;
                background: #00b0ff;
                height: 202px;
                width: 200px;; 
            }
            #surf_quote .video .shadow-lg .embed-responsive-item{
                height: 250px;
                width: 350px;; 
            }
            
            /*Our Team slider*/
                #our-team-background .container{
                    background-size: 992px 370px;
            }
            #our-team-slider .container{
                margin-left: 80px;
            }
                #our-team-slider .paginator .next{
                
                    margin-left: 650px;
                }

                /* Latest Update*/
                #latest_update{
                    margin-left: -100px;
                    width: 900px;
                }
                #latest_update .container .cards{
                    margin-left: 140px;
                }
            
            
                #latest_update .container .col-sm-12 h4{
                    margin-left: 300px;
                }
                #latest_update .container .col-sm-3 {
                    margin-left: 30px;
                    
                }
            
                #latest_update .col-sm-3 .updates .card{
                    padding-right: 5px;
                    padding-left: 5px;
                    width: 220px;
                    height: 345px;
                
                }
                #latest_update .col-sm-3 .updates .card:hover{
                    width: 220px;
                    height: 345px;
                    padding-right: 5px;
                    padding-left: 5px;
                
                }
                #latest_update .view_all{
                    margin-left: 145px;
                }
            
            /** instagram-background ****/
            #instagram-background .container{
                background-size: 992px 300px;
            }
            #instagram .card{
            margin-top: 85px;
                margin-left: -20px;
            width: 323px;
            height: 375px;
            }
            #instagram .card img{
                margin-left: -1px;
            width: 162px;
            height: 162px;
            }


                #facebook{
                    margin-left: -500px;
                }
                #facebook .facebook-bg{
                    margin-top: -340px;
                    width: 250px; 
                    height: 200px;
                
                }
                #facebook .facebook-bg .card{
                    width: 250px; 
                    height: 200px;
                
                }
                #facebook .facebook-bg .card img{
                    margin-top: 24px;
                    margin-left: 40px;
                width: 175px; 
                height: 150px; 
                }

                /********* Footer Area ********/
                #footer_area{
                    margin-top: -110px;
                }
                #footer_area .designed_by{
                    margin-top: 80px;
                    margin-left: 40px;
                }
                #footer_area .footer_list{
                    margin-top: 5px;
                    margin-left: 190px;
                }
                

            }

























/*****************Styling 768px**************************/
@media (max-width:768px)
{

    #header_area .social_area{
        margin-left:235px;
        width: 200px;
    }
    #slider{
        margin-left: -100px;
    }
    #slider .container{
        width: 768px;
        
    }
    #slider .container .card-u{
        margin-left: -30px;
        width: 668px;
        height: 450px;

    }
    #slider .container .card-u .product-image img{
        margin-top: 10px;
        margin-left: -20px;
        width: 330px;
        height:350px;
    } 
    #slider .container .thumbs{

        margin-top: -20px;
        
    
    }
    #slider .container .thumbs .small-images{
        margin-left: -90px;
    }
 
    #slider .container .thumbs  li{
        display: inline-flex;
        width: 60px;
        height: 60px;
    
    }
    #slider .card-u .slider-right{
        width: 100px;
        margin-left: -5px;
        margin-top: -5px;
    }
    #slider .card-u .slider-right h4{
        width: 270px;
        font-size: 16px;
    }
    #slider .card-u .slider-right .ratings {
        margin-top: -10px;
    }
    #slider .card-u .slider-right .ratings .star{
        font-size: 11px;
    }
    #slider .card-u .slider-right .ratings .no_of_rating{
        font-size: 11px;
    }
    
    #slider .container .desc_title{
        width: 270px;
        margin-top: 10px;
        font-size: 11px;
    }
    #slider .container .description{
        width: 200px;
        font-size:12px ;

    }
    #slider .container .buy_now{
        margin-top: -5px;
      margin-left: 110px;
      width: 1px;
    }
    #slider .container  .price_and_button .amount{

    font-size: 20px;
       }
      #slider .container  .price_and_button .buy_now a{

    height: 36px;
    width: 100px;
    text-align: center;
    font-size: 10px;
   }
   #slider .container   .view_all{
       margin-top: -10px;
    width: 200px;
   }
   #pageNslider{
    margin-left: -998px;
}

#pageNslider .navigation .left{
   margin-top: -7px;
}

#pageNslider .navigation{
    width: 60px;
    height: 25px;
    margin-left: 60px;
}
#pageNslider .pagination{
 margin-top: -2px;
    height: 25px;
    margin-left: 50px;

}

/**********About US Background*************/
#about-us .container{
    margin-top: -300px;

    background-size: 768px 325px;
}
#surf_quote .quote h4{
    text-align: right;
    margin-top: -30px;

}
#surf_quote .quote p{
    margin-left: -85px;
    text-align: left;
    font-size: 10px;    
}

#surf_quote .quote .footer_readmore{
    margin-left: -85px;
    width: 300px;  
}
#surf_quote .video {
    width: 300px;
    margin-left: 5px;
}
#surf_quote .video .shadow-lg{
    margin-top: 250px;

    margin-left:-5px ;
    height: 220px;
    width: 300px; 
}
#surf_quote .video .shadow-lg .embed-responsive-item{
    margin-top: -18px;
    margin-left:-16px ;
    height: 220px;
    width: 300px;; 
}  
#our-team-background .container{
    background-size: 768px 300px;
}
#our-team-slider{
    margin-left: -50px;
}
#our-team-slider .paginator .prev{
    margin-left: 25px;
 }
 #our-team-slider .paginator .next{
     
     margin-left: 495px;
 }

 /*********Laest Updates***********/

 #latest_update{

    margin-left: -250px;
 }

 /****Instagram *****/
 #instagram-background .container{
     background-size: 768px 300px;
 }
 #instagram{
     margin-left: 30px;
 }
 #facebook{
    margin-left: -690px;
}
   

}











@media (max-width:600px)
{
    #header_area .hide-desktop{
        display: block;
        text-align: right;
        margin-left: 40px;
    
    }
    #header_area{
        width: 100%;
    }
    #header_area .col-sm-3 h4{
        margin-left: 50px;
        font-weight: bold;
        font-size: 30px;
    }
    #header_area .social_area{
        margin-top: -50px;
    }
    /* Shouts */
    #shouts{
        margin-top: -219px;
    }
    #shouts .text-center .blockquote{
        margin-top: 85px;
        font-size: 35px;
    }
    #shouts .text-center .quote-footer{
        font-size: 20px;
    }

    /****Slider****/
    #slider{
        margin-left: -100px;
    }
    #slider .container{
        width: 525px;
        
    }
    #slider .container .card-u{
        margin-left: 30px;
        width: 525px;
        height: 450px;

    }
    #slider .container .card-u .product-image img{
        margin-top: 10px;
        margin-left: -20px;
        width: 250px;
        height: 290px;
    } 
    #slider .container .thumbs{

        margin-top: 2px;
        margin-left: -80px;
    
    }
    #slider .container .thumbs .small-images{
        margin-left: -40px;
    }
 
    #slider .container .thumbs  li{
        display: inline-flex;
        width: 60px;
        height: 60px;
    
    }
    #slider .card-u .slider-right{
        width: 50px;
        margin-left: -5px;
        margin-top: -5px;
    }
    #slider .card-u .slider-right h4{
        width: 199px;
        font-size: 13px;
    }
    #slider .card-u .slider-right .ratings {
        margin-top: -10px;
    }
    #slider .card-u .slider-right .ratings .star{
        font-size: 9px;
    }
    #slider .card-u .slider-right .ratings .no_of_rating{
        font-size: 9px;
    }
    
    #slider .container .desc_title{
        width: 200px;
        margin-top: 10px;
        font-size: 8px;
    }
    #slider .container .description{
        width: 200px;
        font-size:10px ;

    }
    #slider .container .buy_now{
        margin-top: -35px;
      margin-left: 110px;
      width: 1px;
    }
    #slider .container  .price_and_button .amount{

    font-size: 20px;
       }
      #slider .container  .price_and_button .buy_now a{

    height: 36px;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 10px;
   }
   #slider .container   .view_all{
       margin-top: 50px;
    width: 200px;
   }
   #pageNslider{
    margin-left: -998px;
}

#pageNslider .navigation .left{
   margin-top: -7px;
}

#pageNslider .navigation{
    width: 60px;
    height: 25px;
}
#pageNslider .pagination{
 margin-top: -2px;
    height: 25px;
}

  /* About our Team Backgrund*/
  #about-us .container{
    margin-top: -300px;

    background-size: 600px 325px;
}
#surf-background {
    margin-top: -500px;
    background-size: 600px 250px;
}
#surf_quote{
    margin-top: -325px;
}
#surf_quote .quote .container{
    width: -10px;
}
#surf_quote .quote h4{
    margin-top: -75px;
    margin-left: -100px;
    width: 300px;
    font-size: 100px;
    font-weight: bold;
   
}
#surf_quote .quote p{
    font-size:5px;
    margin-top: -10px;
    margin-left: -75px;
   
    
}
#surf_quote .quote .footer_readmore{
    margin-left: -75px;
    width: 300px;  
}
#surf_quote .video {
    width: 250px;
    margin-left: 5px;
}
#surf_quote .video .shadow-lg{
    margin-top: 70px;

    margin-left:-5px ;
    height: 202px;
    width: 250px; 
}
#surf_quote .video .shadow-lg .embed-responsive-item{
    margin-top: -16px;
    margin-left:-16px ;
    height: 200px;
    width: 250px;; 
}  

#our-team-background .container{
    background-size: 600px 200px;
    margin-top: -175px;
}
#our-team-slider{
    margin-top: 25px;
    margin-left: -115px;
}
#our-team-slider .paginator .prev{
   margin-left: 25px;
}
#our-team-slider .paginator .next{
    
    margin-left: 485px;
}

#latest_update{
    margin-left: -350px;
}
#latest_update .container .row h4{
    margin-left: 400px;
}
#instagram-background .container{
    margin-top: -125px;

    background-size: 600px 325px;
}
#instagram .card{
    margin-top: 70px;
    width:200px;
    height: 275px;
    margin-left: 55px;

}
#instagram .card img{
    margin-left: -1px;
    width:101px;
    height: 110px;
}
#instagram .card .follow-us img{
    margin-top: -20px;
}
#facebook .container{
    margin-top: 100px;
    margin-left: -50px;
}
#facebook .container .facebook-bg{
    height: 10px;
}
#footer_area{
    width: 600px;
}
#footer_area .footer_list{
    margin-top: 50px;
    margin-left: 100px;
}
#footer_area .designed_by{
   font-size: 10px;
   margin-left: 75px;
}
#footer_area .footer_list ul li{
  font-size: 10px;
}


  
}