/*Import fonts from fonts.css file*/
/*font-family: 'Playfair Display', serif;*/

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    
}
/***********Navbar Styles*************/
#header_area{
    width: 100%;
   margin: 0;
   
}
#header_area .container h4{
    font-weight: 400;
    font: bold;
    
}
#header_area .row{
    padding-top:35px;
}
#header_area h4{
    font-size: 34px;

}

#header_area .col-sm-6 ul li a{
    font-size: 14px;
    color: black;
    font-weight: 400;
    transition: 0.5s;
}
#header_area .col-sm-6 ul li a:hover{
    background:#00b0ff ;
    color: #fff;

}
#header_area .social_area{
  
    width: 100%;
    clear: both;
}
#header_area .social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#header_area .social_area ul li{
    display: inline-block;
    padding-right: 10px;
  
    
}
#header_area .social_area ul li a{
    font-size: 15px;
    font-weight: 400;
    background: #fff;
    width: 40px;
    height: 40px;
    color: black;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;/*It makes circle*/
    transition: 0.5s;
}
#header_area .social_area ul li a:hover{  
    background: black;
    color: #fff;

}
/*Shouts*/

#shouts{
    margin-top: -108px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 700px;
    background: url("../images/top.png") no-repeat  center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
}
#shouts .row{
   
   padding-top: 185px;
}


#shouts .text-center .blockquote{
    
    font-size: 50px;
    color:#000000 ;
}
#shouts .text-center .quote-footer{
    font-size: 24px;
    color:#e4edf0;
    font-weight: 400;
    margin: -20px;
}





/************Navbar styles ends*****************/

/***********Slider Style********/
#slider{
    margin-bottom: 300px;
 
    
}
#slider .container{
    width: 1030px;
    height: 600px;
    
}
#slider .container .card-u{
    border: 0;
    margin-top: -210px;
    width: 1030px;
    height: 600px;
    background: url("../images/card-background.jpg") center no-repeat   ; 
}
#slider .container .thumbs{
    margin-top:-385px ;
    text-align: right;
    margin-right: -35px;
   

}
#slider .container .thumbs ul li{
    list-style: none;
}
#slider .container .thumbs small-images img{
    height: 70px; 
    width: 70px;
    border: none;
}
#slider .container .slider-right{
   margin-top: 20px;
   margin-left: 50px;
  padding-right: 50px;

  }
  #slider .container .surf-right h4{
    font-size: 20px;
    font-weight: bold;
 
   }
   #slider .container .surf-right .ratings .star{
    font-size: 12px;
   }
   #slider .container  .desc_title{
    margin-top: 40px;
    color: #b5b2b2;
    font-size: 14px;
    font-weight: 600px;
  
   }
   #slider .container  .description{
    margin-top: 30px;
    font-size: 16px;
  
   }
   #slider .container  .price_and_button{
    margin-top: 30px;
    
   }
   #slider .container  .price_and_button .row {
    margin-top: 30px;
  
   }
   #slider .container  .price_and_button .amount {
    font-size: 24px;
    font-weight: bold;
   }
   #slider .container  .price_and_button .buy_now a{
    background-color:#00b0ff;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    height: 46px;
    width: 138px;
    text-align: center;
    color: #fff;
    font-size: 15px;
   }
   #slider .view_all{
       padding-top: 50px;
   }
   #slider .view_all a{
    font-weight: 600;
    color: #00b0ff;
}
#pageNslider{
    margin-top: -580px;
    margin-right: -2000px;
}

   #pageNslider  .pagination{
       margin-left: -40px;
       padding-top: 8px;
       padding-left: 8px;
    height: 40px;
    width: 59px;
    color: #fff;
    background-color:black;
    text-align: center;
    /* background-color:black;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 59px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 600; */
   }
   #pageNslider  .navigation{
       margin-left: -20px;
       padding-top: 8px;
    background-color:#f2d800;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 76px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
#pageNslider  .navigation .left{
    padding-top: 3px;
padding-left: 6px;
width: 40px;
text-align: left;
}
#pageNslider  .navigation .right{
    margin-right: -25px;
    margin-top: -22px;
width: 40px;
text-align: right;
}

 
#slider .container .surf-right .ratings .checked{
    color:#f2d800;
    background: white;
  }
  #slider .container .border{
      margin-left: 13px;
width: 500px;
  }

/*About us style*/
#about-us{
    
    height: 450px;
    width: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#about-us .container{
    margin-top: -108px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 100%;
    background: url("../images/about-us.png") no-repeat  center ; 
       
}

/*About Surfboard and video player*/
#surf-background{
    margin-top: -328px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 640px;
    background: url("../images/surfing.png") no-repeat  center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 

}
#surf_quote {
    margin-top: -350px ;
    height: 567px;
}
#surf_quote .quote{
    background: #fff;
    height: 567px;
    

}
#surf_quote .quote .col-sm-4{
    
    margin: 100px;
  
}
#surf_quote .quote .col-sm-4 h4{
    color: black;
    font-size:18px ;
    font-weight: 600px;
    text-align: center;
}
#surf_quote .quote .col-sm-4 h4 a{
    color: black;
    
}

#surf_quote .quote .col-sm-4 p{
    font-family: 'Playfair Display', serif; 
    font-size:22px ;
}
#surf_quote .quote .col-sm-4 a{
    font-weight: 600px;
    color: #55caff;
}
#surf_quote .shadow-lg{
    
    height: 302px;
    width: 500px;;
    margin-top: 267px;
    margin-left:50px;
}
#surf_quote .embed-responsive-item{
    
    height: 302px;
    width: 500px;;
    margin-top: -16px;
    margin-left:-16px;
}
/*Our Team background Style*/
#our-team-background{
    
    height: 450px;
    width: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#our-team-background .container{
    margin-top: 50px;
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 100%;
    background: url("../images/our-team.jpg") no-repeat  center ; 
       
}





/* Our Team Slider*/
#our-team-slider .col-sm{
    margin-top: -250px;
}
#our-team-slider .owl_wrapper{
    width: 100%;
    overflow: hidden;
}
#our-team-slider .owl_content{
    padding-left: 155px;
    padding-right: 155px;
}
#our-team-slider .owl_content .frontside{
    width:260px ;
    height:280px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#our-team-slider .owl_content .frontside img{
   height: 105px;
   width: 105px;
}
#our-team-slider .owl_content .frontside h4{
   font-size: 18px;
   color:#00b0ff;
 }
 #our-team-slider .owl_content .frontside p{
    font-size: 14px;
   
    
  }
  #our-team-slider .owl_content .frontside p a{

    color:  #777;
    
  }
  #our-team-slider .owl_content .frontside .logo img{
    height: 20px;
    width: 60px;
    margin-top: -20px;
  }
 

/* #our-team-slider .owl_wrapper .owl-item{
   opacity: 1;
    transform: scale(0.6);
    -ms-transform: scale(0.1);
    transition: all .2s;
    -webkit-transform: all .2s;
    z-index: 1;
  }
#our-team-slider .owl_wrapper .active{
opacity: 1;
}
#our-team-slider .owl_wrapper .active.middle_beside{
transform: scale(0.7);
-ms-transform: scale(0.7);
opacity: 1;
margin: 0 -1%;
z-index: 2;
} */
#our-team-slider .owl_wrapper .active.middle{
/* transform: scale(1); */
/* -ms-transform: scale(1); */
/* opacity: 1; */
/* z-index: 2; */
}
/* #our-team-slider .owl_wrapper .active.next_to_mid{
margin-left: -1%;
} */
#our-team-slider .owl_wrapper .prev{
position: absolute;
margin-left:100px ;
margin-top:100px ;
width: 30px;
border-radius: 100%;
text-align: center;
line-height: 30px;
color: #fff;
background: #777;
cursor: pointer;
z-index: 5;
}
#our-team-slider  .owl_wrapper .next{
    position: absolute;
    margin-top: -140px;
    margin-left: 1175px;
    
    
    width: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #777;
    cursor: pointer;
    z-index: 5;
    }

#our-team-slider   .owl_wrapper .next{
/* left: calc(100% - 400px); */
}
/* .no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */

  .owl-theme .owl-controls .owl-page span {
  
    display: none;
}  
    
/*Latest updates styles*/
#latest_update{
    margin-top: 180px;
}
#latest_update .container .col-sm-12{
 
    text-align: center;
}
#latest_update .container .col-sm-12 h4{
    font-size: 18px;
    text-align: center;
}
#latest_update .container .col-sm-12 a{
    font-size: 18px;
    text-align: center;
    color: black;
}
#latest_update .container .cards{
    margin-left:180px ;
    margin-top: 40px;
}
#latest_update .col-sm-3 .updates .card{
    width: 272px;
    height: 345px;
    border: none;
    border-radius: 0;
    text-align: center;
}
#latest_update .col-sm-3 .updates .card:hover{
    width: 270px;
    height: 345px;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#latest_update .view_all{
width: 100%;
margin-top: 40px;
text-align: center;
color: white;
}
#latest_update .view_all a{
    background-color:#00b0ff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    width: 198px;
    height: 46px;
    text-align: de;
}
#latest_update .view_all a:hover{
    background: #262626;
}
#latest_update .view_all span{
    color: white;  
 }
 #latest_update .view_all span:hover{
    color: 00b0ff;  
 }
/* Instagram background styles*/
#instagram-background{
    margin-top: 180px;
    height: 526px;
    width: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#instagram-background .container{
    font-family: 'Playfair Display', serif; 
    width: 100%;
    height: 100%;
    background: url("../images/instagram-bg.jpg") no-repeat  center ; 
       
}
/* Instagram Styles*/

#instagram {
    margin-top: -465px;
    margin-left: 122px;
}
#instagram .card { 
    width: 622px; 
    height: 690px;
} 
  
#instagram .image-grid-container { 
    display: grid; 

    /* For 2 columns */ 
    grid-template-columns: auto auto; 
} 
#instagram img { 
    width: 311px;
     height: 310px;
} 



#facebook .instagram{
    width: 622px; 
    height: 690px;
  
}
#facebook .grid_image{
    padding: 0px;
}
#facebook .grid_image .col img{
    width: 317px; 
    height: 310px;
}


#facebook .facebook-bg{
    margin-top: -650px;
    margin-left: 1050px;
    width: 440px; 
    height: 350px;
   
}
#facebook .facebook-bg .card{
    width: 440px; 
    height: 350px;
    font-family: 'Playfair Display', serif; 
  
    background: url("../images/facebook-bg.jpg") no-repeat  center ; 
}
#facebook .facebook-bg .card img{
    margin-top: 95px;
    margin-left: 50px;
   align-content: center;
   width: 340px; 
   height: 215px; 
}


/*Footer Area*/

#footer_area{
    margin-top: -225px;
    background: black;
    padding: 40px 0;
    color: #fff;
    height: 425px;
     }
    #footer_area .designed_by{
    margin-top: 220px;
    margin-left: 60px;
    }

    #footer_area .footer_list{
    margin-top: 46px;
    margin-left: 380px;
    }
    #footer_area .footer_list ul{
    list-style: none;
    }
    #footer_area .footer_list a{
        color: #fff;
        text-decoration: none;
        }
    #footer_area .footer_list  li:before{
    content: url('../images/icons/list-style.png'); 
        }

     #footer_area .footer_list  .newsletter{
        margin-top: 100px;
        margin-left: 50px;
        }